/*////////////////////////////////////////////////////////////////*/
/*signIn page start*/
/*//////////////////////////////////////////////////////////////*/

.signInForm{
    max-width: 350px;
    margin: 20% auto 5% auto;
}

/*////////////////////////////////////////////////////////////////*/
/*signIn page end*/
/*//////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////*/
/*media rules start*/
/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 720px){
    .signInForm{
        margin-top: 40%;
    }
}

/*////////////////////////////////////////////////////////////////*/
/*media rules end*/
/*//////////////////////////////////////////////////////////////*/